@font-face {
    font-family: PixelMPlus;
    src: url('../ttf/PixelMplus12-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: PixelMPlus;
    src: url('../ttf/PixelMplus12-Bold.ttf') format('truetype');
    font-weight: bold;
}