html[data-theme="dark"] {
    color-scheme: dark;
    --bg: #000000;
    --text: #ffebf5;
    --invert: 1;
}

html[data-theme="light"] {
    color-scheme: light;
    --bg: #ffcee3;
    --text: #000000;
    --invert: 0;
}

body {
    background: var(--bg);
    padding: 0vw;
    margin: 0vw;
    height: 100vh;
}